@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;900&family=Playfair+Display:wght@400;500;700;800&display=swap");
* {
  margin: 0px;
  color: #21242b;
}

body {
  background-color: #ebedef;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -24px;
  width: auto;
  white-space: nowrap;
}

.title .dot {
  font-family: 'Playfair Display';
  font-size: 72px;
  line-height: 10px;
}

.title .square {
  background-color: #3f3d57;
  height: auto;
  width: 100vw;
  margin-left: 24px;
}

header {
  font-family: 'Montserrat';
  background-color: #d8e4fd;
  padding: 32px 24px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

header #novak {
  font-weight: 900;
  font-size: 64px;
  position: relative;
  z-index: 10;
  margin-top: 62px;
}

header #nikolic {
  font-weight: 900;
  font-size: 86px;
  color: #45a1fc;
  position: relative;
  left: 10px;
  top: -48px;
  margin-bottom: 62px;
  overflow: hidden;
}

header img {
  position: absolute;
  top: -50px;
  left: 500px;
  height: 350px;
  opacity: 1;
}

main {
  font-family: 'Montserrat';
}

main .card {
  background-color: #d8e4fd;
  padding: 32px 24px;
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

main .card img {
  height: 40px;
  width: 40px;
  margin-bottom: 24px;
}

main .card .card-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

main .card .card-content {
  font-size: 18px;
  margin-bottom: auto;
}

main .card .btn {
  font-family: 'Montserrat';
  color: #0a0c0f;
  font-size: 20px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #45a1fc;
  margin-top: 32px;
  max-width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 24px;
  text-decoration: none;
}

main .card .btn:hover {
  background-color: #4582fc;
}

main .card .btn .github {
  background-image: url("../img/GitHub-Mark-64px@2x.png");
  display: inline-block;
  background-size: 24px;
  height: 24px;
  width: 24px;
  margin-right: 12px;
}

main .card .btn .vib {
  background-image: url("../img/preview-black-18dp@2x.png");
  display: inline-block;
  background-size: 30px;
  height: 30px;
  width: 30px;
  margin-right: 12px;
  margin-top: -3px;
  margin-left: -3px;
  margin-bottom: -3px;
}

main .card:last-child {
  margin-bottom: 12px;
}

footer {
  font-family: 'Montserrat';
  background-color: #d8e4fd;
  padding: 32px 24px;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

footer .aboutMe {
  margin-top: 48px;
}

footer div.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 2px solid #3f3d57;
  margin-top: 48px;
  padding-top: 48px;
}

footer div.contactInfo .contact {
  margin-right: 15px;
}

footer div.contactInfo .githubProfile {
  margin-left: 15px;
}

@media (min-width: 760px) and (max-width: 1499px) {
  .title {
    margin-right: -48px;
  }
  header {
    padding: 48px;
  }
  main .card {
    padding: 48px;
  }
  footer {
    padding: 48px;
  }
  footer p:last-child {
    margin-top: 48px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card {
    width: calc(50% - 102px);
    margin-right: 12px;
  }
  .card:nth-child(even) {
    margin-right: 0px;
  }
  .card:nth-child(9) {
    margin-bottom: 12px;
  }
}

@media (min-width: 1500px) {
  .title {
    margin-right: -48px;
  }
  header {
    padding: 48px;
  }
  header img {
    left: 900px;
  }
  main .card {
    padding: 48px;
  }
  footer {
    padding: 48px;
  }
  footer p:last-child {
    margin-top: 48px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card {
    width: calc(33.33% - 104px);
    margin-right: 12px;
  }
  .card:nth-child(3) {
    margin-right: 0px;
  }
  .card:nth-child(6) {
    margin-right: 0px;
  }
  .card:nth-child(9) {
    margin-right: 0px;
  }
}
/*# sourceMappingURL=main.css.map */